@use '../../App.scss' as main;

.side_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    h3{
        font-weight: 400;
        margin: 30px 0;
    }
    button{
        width: 150px;
        height: 40px;
        margin: 30px 0;
        border-radius: 5px;
        color: #2196f3;
        background-color: #031321;
        border: none;
        transition: 0.2s ease;
        outline: none;
        font-size: 16px;
        &:hover{
            color: #183e5f;
            background: #2196f3;
            box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
            cursor: pointer;
        }
    }
    .active{
        color: #183e5f;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
        &:hover{
            background-color:  #183e5f;
            color: #2196f3;
        }
    }
}